{% load static %} {% load static tailwind_tags %}
<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}PenniniCup{% endblock %}</title>

        <link rel="icon" type="image/png" href="{% static 'img/favicon_penninicup.png' %}" />
        {% tailwind_css %} {% block extra_head %} {% endblock %}

        <script src="https://unpkg.com/lucide@latest"></script>
    </head>
    <body>
        {% include "components/top_nav.html" %}

        <main class="min-h-screen pb-20 lg:pb-0 max-w-7xl mx-auto px-4 py-6">
            {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                <div
                    class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} mb-2"
                    role="alert"
                >
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %} {% block content %}{% endblock %}
        </main>

        {% include "components/bottom_nav.html" %} {% block extra_scripts %} {% endblock %}

        <script>
            lucide.createIcons();
        </script>
    </body>
</html>
