{% extends "admin/change_list.html" %} {% block object-tools-items %}
<li>
    <form action="{% url 'admin:football_competition_sync_cadastrais' %}" method="post" style="display: inline">
        {% csrf_token %}
        <button type="submit" class="button">Rodar atualização cadastral</button>
    </form>
</li>
<li>
    <form action="{% url 'admin:football_competition_sync_frequentes' %}" method="post" style="display: inline">
        {% csrf_token %}
        <button type="submit" class="button">Rodar atualização frequente</button>
    </form>
</li>
{{ block.super }} {% endblock %}
