<nav class="fixed bottom-0 left-0 right-0 bg-white border-t lg:hidden z-50">
    <div class="flex justify-around h-16">
        <a href="{% url 'penninicup:index' %}" class="flex flex-col items-center justify-center text-xs">
            🏠
            <span>Início</span>
        </a>

        <a href="#" class="flex flex-col items-center justify-center text-xs">
            🏆
            <span>Ranking</span>
        </a>

        <a href="#" class="flex flex-col items-center justify-center text-xs">
            🎯
            <span>Palpites</span>
        </a>

        <a href="#" class="flex flex-col items-center justify-center text-xs">
            👤
            <span>Perfil</span>
        </a>
    </div>
</nav>
