{% extends "base.html" %} {% block title %}PenniniCup{% endblock %} {% block content %}
<h2 class="text-2xl font-semibold justify-center">Welcome to the PenniniCup!</h2>
<p>This is the home page for the PenniniCup application.</p>

{% if user.is_authenticated %}
<form method="post" action="{% url 'payments:create-subscription' %}">
    {% csrf_token %}
    <input type="hidden" name="amount" value="50.00" />
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Pagar inscrição - R$ 50,00
    </button>
</form>
{% else %}
<p class="text-red-500">Você precisa estar logado para fazer a inscrição.</p>
<a href="{% url 'accounts:login' %}" class="text-blue-500 hover:underline">Fazer login</a>
{% endif %} {% endblock %}
